<body>
  <section class="contact-box">
    <div class="row no-gutters g-0">
      <div class="col-xl-5 col-lg-12 image-container">
        <div class="position-static testiomonial p-4">
          <div class="row">
            <div class="col-lg-12 col-sm-6 p-4">
              <br />
              <div class="row">
                <div class="col-1">
                  <div class="icon-bo">
                    <i class="fas fa-exclamation-triangle"></i>
                  </div>
                </div>
                <div class="col-10 ml-3">
                  <h5 class="title-sm font-weight-bold">
                    Toma en cuenta lo siguiente:
                  </h5>
                  <p>
                    El cambio de la fecha de tu estudio dependerá de la
                    disponibilidad en clínica con la nueva fecha seleccionada
                  </p>
                </div>
              </div>
              <h3 class="title-sm mt-4 font-weight-bold">
                Preguntas frecuentes
              </h3>
              <br />
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="card">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne"
                      aria-expanded="false"
                      aria-controls="flush-collapseOne"
                    >
                      ¿Dónde recibiré la devolución?
                    </button>
                  </h2>
                  <div
                    id="flush-collapseOne"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <p class="ml-2 mr-2">
                        El reembolso total del pago en línea se realizará a la
                        misma cuenta a la cual se hizo el cargo. Si esta fue
                        cancelada o reportada como extraviada es necesario
                        acudir a tu banco emisor para confirmar el depósito.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo"
                      aria-expanded="false"
                      aria-controls="flush-collapseTwo"
                    >
                      ¿Dónde encuentro mi folio?
                    </button>
                  </h2>
                  <div
                    id="flush-collapseTwo"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <p class="ml-2 mr-2 mb-2">
                        Podrás encontrarlo en la confirmación de tu cita
                        realizada en línea.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree"
                      aria-expanded="false"
                      aria-controls="flush-collapseThree"
                    >
                      ¿Cuánto tiempo tarda?
                    </button>
                  </h2>
                  <div
                    id="flush-collapseThree"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <p class="ml-2 mr-2 mb-2">
                        Al realizar tu solicitud de devolución tiene como tiempo
                        de espera 10 días hábiles para ser atendido por un
                        asesor, en ese lapso recibirás un correo electrónico
                        como seguimiento de tu solicitud en el cual se te
                        solicitarán datos personales para proceder con el
                        reembolso, sin embargo el tiempo para ver reflejado el
                        reembolso en tu cuenta dependerá de tu banco.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="accordion-header" id="flush-headingFour">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseFour"
                      aria-expanded="false"
                      aria-controls="flush-collapseFour"
                    >
                      ¿Dónde puede comunicarme?
                    </button>
                  </h2>
                  <div
                    id="flush-collapseFour"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingFour"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <p class="ml-2 mr-2">
                        Puedes contactarnos en nuestras redes sociales o al
                        WhatsApp 55 3956 6729.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <h2 class="accordion-header" id="flush-headingten">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseten"
                      aria-expanded="false"
                      aria-controls="flush-collapseten"
                    >
                      Mi solicitud no fue aprobada
                    </button>
                  </h2>
                  <div
                    id="flush-collapseten"
                    class="accordion-collapse collapse"
                    aria-labelledby="flush-headingten"
                    data-bs-parent="#accordionFlushExample"
                  >
                    <div class="accordion-body">
                      <p class="ml-2 mr-2">
                        Si el estatus de tu solicitud no fue aprobado, podría
                        ser debido a que si se realizó el estudio. Si este no es
                        tu caso, por favor contáctanos al correo
                        devoluciones.digital@onlab.org para brindarte más
                        información.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-12 d-flex">
        <div class="container align-self-center p-6 pt-4">
          <h1 class="font-weight-bold mb-3">
            ¿Deseas cambiar la fecha de tu cita?
          </h1>
          <p>Es muy sencillo, solo ingresa los datos correspondientes.</p>
          <br />
          <br />

          <div class="d-flex justify-content-around">
            <button
              type="submit"
              class="btn btn-primary w-100 flex-grow-1 mr-2"
              [routerLink]="['/bdatos']"
              routerLinkActive="active"
            >
              <i class="far fa-clock mr-2"></i>Modificar cita
            </button>
            <button
              type="button "
              class="btn btn-outline-primary w-100"
              [routerLink]="['/cancelar']"
              routerLinkActive="active"
            >
              <i class="fas fa-ban mr-2"></i>Cancelar cita
            </button>
          </div>

          <form action="">
            <br />
            <br />
            <label class="font-weight-bold">Presiona el botón "Obtener Citas"</label>
            <!--///////////////////PRUEBA////////////////////////////////-->
            <div class="form-row" style="font-size: 15px">
              <div class="form-group col-12">
              </div>
            </div>
            <button
              (click)="modificar()"
              mat-raised-button
              style="background-color: #458ff6; color: white"
              class="login-button col-12"
            >
              Obtener Citas
            </button>
            <label class="font-weight-bold">Selecciona el motivo</label>
            <!--///////////////////PRUEBA////////////////////////////////-->
            <div class="form-row" style="font-size: 14px">
              <div class="form-group col-12">
                <input
                  class="lista"
                  placeholder="Motivo"
                  
                  type="text"
                  name="prueba"
                  list="prueba"
                />
                <datalist id="prueba">
                  <option value="No pude asistir a mi cita"></option>
                  <option value="Me hice el estudio en otra parte"></option>
                  <option value="No era el estudio correcto"></option>
                  <option value="Otro"></option>
                </datalist>
              </div>
            </div>

            
            <!--///////////////////////////////////////////////////-->
            <h4>Tutorials List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let tutorial of tutorials; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(tutorial, i)"
      >
        {{ tutorial.nombreC }}
        {{ tutorial.apellidoP }}
        {{ tutorial.apellidoM }}
      </li>
    </ul>
          </form>
          <div class="col-md-6">
            <div *ngIf="currentTutorial">
              <app-tutorial-details
                (refreshList)="refreshList()"
                [tutorial]="currentTutorial"
              ></app-tutorial-details>
            </div>
        
            <div *ngIf="!currentTutorial">
              <br />
              <p>Presiona en una de las citas en cuanto aparezca...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="mb-3">Nosotros</h4>
          <a>
            Onlab puede analizar una gran cantidad de muestras biológicas y
            cultivos diariamente,
          </a>
        </div>
        <div class="col-md-3">
          <h4 class="mb-3">Menu</h4>
          <ul class="list-unstyled">
            <li><a href=" ">Nosotros</a></li>
            <li><a href=" ">Servicios</a></li>
            <li><a href=" ">Pacientes</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-3">Servicios</h4>
          <ul class="list-unstyled">
            <li><a href=" ">Laboratorio</a></li>
            <li><a href=" ">Pruebas</a></li>
            <li>
              <a href=" ">Preguntas frecuentes</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-3">Redes Sociales</h4>
          <div class="social">
            <a href="" target="_blank "
              ><i class="fab fa-facebook-f" aria-hidden="true "></i
            ></a>
          </div>
          <div class="social">
            <a href="" target="_blank "
              ><i class="fab fa-youtube" aria-hidden="true "></i
            ></a>
          </div>
          <div class="social">
            <a href="# "
              ><i class="fab fa-instagram" aria-hidden="true "></i
            ></a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-12 text-center my-3">
          <a>Onlab © 2021 |</a>
          <a href="# "> Aviso de privacidad | Términos y condiciones </a>
          <a>| Todos los derechos reservados </a>
        </div>
      </div>
    </div>
  </footer>
</body>
