<div class="about-section">
    <div class="inner-container">
        <h1>Conócenos</h1>
        <p class="text">
            Fuimos fundados con el propósito de llevar servicios de prevención y diagnóstico a la población mexicana, a precios accesibles y ofreciéndoles una atención y equipo de calidad. <br> Ya sea que necesiten un estudio de laboratorio, de imagenología
            o análisis, en Salud Digna podrán encontrar una opción que se ajuste a sus necesidades de diagnóstico, con equipo tecnológico y atención que son sometidos constantemente a un proceso de mejora continua, que permitan a los pacientes y al personal
            médico tomar decisiones adecuadas y oportunas para el cuidado de la salud. <br> Nuestra misión es Contribuir a que cada día más personas, en más lugares, tengan una mayor accesibilidad a servicios de prevención y diagnóstico confiables, contando
            con el mejor equipo humano y tecnológico.
        </p>
        <div class="skills">
            <span>Calidad</span>
            <span>Liderazgo</span>
            <span>Colaboración</span>
            <span>Responsabilidad</span>
        </div>
    </div>
</div>
<div>

    <section id="team" class="seccion section-bg mt-5 mb-5">
        <div class="container">
            <div class="col-12 section-intro ">
                <h2>Equipo</h2>
                <div class="hline"></div>
                <br>
            </div>
            <div class=" row text-center ">
                <div class="col-lg-3 col-sm-6 team-member ">
                    <div class=" team-member-img ">
                        <img src="assets/img/trab1.jpg " alt=" ">
                        <div class="social-icons ">
                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                            <a href="# "><i class="fab fa-instagram "></i></a>
                            <a href="# "><i class="fab fa-whatsapp "></i></a>
                            <a href="# "><i class="fab fa-twitter "></i></a>
                        </div>
                    </div>
                    <div class="p-4 ">
                        <h5 class="title-sm mt-3 mb-0  ">Jennifer Hernández</h5>
                        <small class=" ">ENFERMERA</small>
                        <div class="hline "></div>
                        <p class=" ">L.P.N. Auxiliar de enfermería autorizado
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 team-member ">
                    <div class=" team-member-img ">
                        <img src="assets/img/trab2.jpg " alt=" ">
                        <div class="social-icons ">
                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                            <a href="# "><i class="fab fa-instagram "></i></a>
                            <a href="# "><i class="fab fa-whatsapp "></i></a>
                            <a href="# "><i class="fab fa-twitter "></i></a>
                        </div>
                    </div>
                    <div class="p-4 ">
                        <h5 class="title-sm mt-3 mb-0  ">Dr. Gabriel Campos</h5>
                        <small class=" ">ULTRASONOGRAFÍA</small>
                        <div class="hline "></div>
                        <p class=" ">M.B.B.S. licenciado en medicina y cirugía
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 team-member ">
                    <div class=" team-member-img ">
                        <img src="assets/img/trab3.jpg " alt=" ">
                        <div class="social-icons ">
                            <a><i class="fab fa-facebook-f "></i></a>
                            <a href="# "><i class="fab fa-instagram "></i></a>
                            <a href="# "><i class="fab fa-whatsapp "></i></a>
                            <a href="# "><i class="fab fa-twitter "></i></a>
                        </div>
                    </div>
                    <div class="p-4 ">
                        <h5 class="title-sm mt-3 mb-0  ">Paulina Rodríguez</h5>
                        <small class=" ">MEDICINA INTERNA</small>
                        <div class="hline "></div>
                        <p class=" ">M.B.B.S. licenciado en medicina y cirugía
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 team-member ">
                    <div class=" team-member-img ">
                        <img src="assets/img/trab4.jpg " alt=" ">
                        <div class="social-icons ">
                            <a href="# "><i class="fab fa-facebook-f "></i></a>
                            <a href="# "><i class="fab fa-instagram "></i></a>
                            <a href="# "><i class="fab fa-whatsapp "></i></a>
                            <a href="# "><i class="fab fa-twitter "></i></a>
                        </div>
                    </div>
                    <div class="p-4 ">
                        <h5 class="title-sm mt-3 mb-0  ">Camila González</h5>
                        <small class=" ">ENFERMERA</small>
                        <div class="hline "></div>
                        <p class=" ">L.P.N. Auxiliar de enfermería autorizado
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class=" container ">
            <div class="row ">
                <div class="col-md-3 ">
                    <h4 class="mb-3 ">Nosotros</h4>
                    <a>
                        Onlab puede analizar una gran cantidad de muestras biológicas y cultivos diariamente,
                    </a>
                </div>
                <div class="col-md-3 ">
                    <h4 class="mb-3 ">Menu</h4>
                    <ul class="list-unstyled ">
                        <li><a href="#about.component.html">Nosotros</a></li>
                        <li><a href=" ">Servicios</a></li>
                        <li><a href=" ">Pacientes</a></li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h4 class="mb-3 ">Servicios</h4>
                    <ul class="list-unstyled ">
                        <li><a href=" ">Laboratorio</a></li>
                        <li><a href=" ">Pruebas</a></li>
                        <li>
                            <a href=" ">Preguntas frecuentes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 ">
                    <h4 class="mb-3 ">Redes Sociales</h4>
                    <div class="social ">
                        <a href=" " target="_blank "><i class="fab fa-facebook-f " aria-hidden="true "></i></a>
                    </div>
                    <div class="social ">
                        <a href="" target="_blank "><i class="fab fa-youtube " aria-hidden="true "></i></a>
                    </div>
                    <div class="social ">
                        <a href="# "><i class="fab fa-instagram " aria-hidden="true "></i></a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row ">
                <div class="col-12 text-center my-3 ">
                    <a>Onlab © 2021 |</a>
                    <a href="# ">  Aviso de privacidad | Términos y condiciones </a>
                    <a>| Todos los derechos reservados  </a>
                </div>
            </div>
        </div>
    </footer>
</div>